/**************************/
/*     General Styles     */
/**************************/

body {
	overflow-x: hidden;
}

body,
html {
	width: 100%;
	height: 100%;
}

body,
p {
	color: black;
	font-style: "cambria";
}

h1 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	/* letter-spacing: -0.2px; */
	color: black;
}

h2 {
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 2.625rem;
	letter-spacing: -0.2px;
	color: black;
}

h3 {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
	color: black;
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
	color: black;
}

h5 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	color: black;
}

h6 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
	color: black;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
	color: black;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.bg-dark-blue {
	background-color: #EEEEEE;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #393E46;
	border-radius: 32px;
	background-color: #393E46;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #393E46;
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #393E46;
	border-radius: 32px;
	background-color: transparent;
	color: #393E46;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #393E46;
	color: #ffffff;
	text-decoration: none;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #F8F0DF;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.navbar .container {
	max-width: 100%;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: white;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: red;
}


/************************/
/*     Registration     */
/************************/
.form-1 {
	padding-top: 5.5rem;
	padding-bottom: 3.75rem;
	background-color: #EEEEEE;
}

.form-1 .text-container {
	margin-bottom: 3.5rem;
}

.form-1 h2 {
	margin-bottom: 1.5rem;
}

.form-1 p {
	margin-bottom: 1.25rem;
}

.form-1 .list-unstyled .fas {
	color: #EEEEEE;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.form-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/********************/
/*     Features     */
/********************/

.cards-1 {
	padding-top: 3.75rem;
	padding-bottom: 2.75rem;
	text-align: center;
}

.cards-1 .p-heading {
	margin-bottom: 3.5rem;
}

.cards-1 .card {
	/* margin-bottom: 4rem; */
	padding: 3.25rem 1.5rem 2.125rem 1.5rem;
	border: none;
	border-radius: 6px;
	background-color: #334257;

}

.cards-1 .card-image {
	margin-bottom: 1.75rem;
}

.cards-1 .fas {
	color: #EEEEEE;
	font-size: 4rem;
}

.cards-1 .card-body {
	padding-top: 0 auto;
	/* margin: 0 auto; */
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
	color: #EEEEEE;
}


/*********************/
/*     Details       */
/*********************/
.basic-1 {
	padding-top: 2.5rem;
	padding-bottom: 6rem;
	background-color: #EEEEEE;
}

li {
	color: black;
}

/*****************/
/*     Video     */
/*****************/
.basic-2 {
	padding: 3rem;
	text-align: center;
}

/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6rem;
	padding-bottom: 2rem;
	border-top: 1px solid #3c3758;
	background-color: #393E46;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #cac8db;
}

.footer p,
.footer a,
.footer ul {
	color: #cac8db;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #cac8db;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
	color: #02010e;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
	color: #3dcac8;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	background-color: #393E46;
	text-align: center;
}

.copyright p,
.copyright a {
	color: white;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #929AAB url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #929AAB;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .swiper-container {
		width: 95%;
	}

	.header .swiper-button-prev {
		left: -22px;
	}

	.header .swiper-button-next {
		right: -22px;
	}

	.header .partner-container .p-small {
		margin-bottom: 1rem;
	}

	.header .partner-container img {
		display: inline-block;
		max-width: 200px;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}

	.header .partner-container img:first-of-type {
		margin-left: 0;
	}

	.header .partner-container img:last-of-type {
		margin-right: 0;
	}

	/* end of header */


	/* Registration */
	.form-1 {
		padding-top: 6.75rem;
	}

	/* end of registration */


	/* Purchase */
	.basic-3 .btn-solid-lg,
	.basic-3 .btn-outline-lg {
		display: inline-block;
		margin-right: 0.25rem;
		margin-left: 0.25rem;
	}

	.basic-3 .btn-solid-lg {
		margin-bottom: 0;
	}

	/* end of purchase */


	/* Resources */
	.basic-4 .resource-container {
		padding: 1.75rem 1.375rem 1.75rem 1.375rem;
	}

	/* end of resources */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

	/* end of extra pages */
}

/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* end of general styles */


	/* Navigation */


	/* Aftab Bhadgaonkar */
	.web_name {
		line-height: 1.5rem;
	}

	.text1 {
		color: white;
		font-size: 1.2rem;
		/* position: relative; */
	}

	.text2 {
		font-size: .8rem;
		color: white;
	}

	.text3 {
		font-size: .8rem;
		color: white;
	}

	/* Aftab Bhadgaonkar */


	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}


	/* navbar heading */
	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #334257;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}

	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}

	/* end of navigation */


	/* Header */
	.header {
		padding-top: 11rem;
	}

	.header .image-container {
		margin-bottom: 0;
	}

	.header .text-container p {
		margin-bottom: 1.875rem;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		display: inline-block;
	}

	.header .btn-solid-lg {
		margin-right: 0.5rem;
	}

	/* end of header */


	/* Registration */
	.form-1 {
		padding-top: 9.25rem;
	}

	.form-1 .text-container {
		margin-bottom: 0;
	}

	/* end of registration */


	/* Features */


	.cards-1 .card {
		display: inline-block;
		width: 300px;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	/* end of features */


	/* Details 1 */
	.basic-1 {
		padding-top: 5rem;
		padding-bottom: 7rem;
	}

	.basic-1 .image-container {
		margin-bottom: 0;
	}

	/* end of details 1 */


	/* Details Lightbox */
	.lightbox-basic {
		padding: 3rem 3rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
		text-align: left;
	}

	/* end of details lightbox */


	/* Details 2 */
	.tabs {
		padding-top: 4rem;
		padding-bottom: 8rem;
	}

	.tabs .tabs-container {
		margin-bottom: 0;
	}

	.tabs .nav-tabs {
		justify-content: flex-start;
	}

	/* end of details 2 */


	/* Video */
	.basic-2 {
		padding-top: 4rem;
	}

	/* end of video */


	/* Resources */
	.basic-4 .resource-container {
		display: inline-block;
		width: 454px;
		vertical-align: top;
	}

	.basic-4 .resource-container:first-of-type {
		margin-right: 1rem;
	}

	/* end of resources */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}

	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}

	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	/* end of extra pages */
}

/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.h1-large {
		font-size: 3.5rem;
		line-height: 4.375rem;
	}

	/* end of general styles */


	/* Header */
	.header {
		padding-top: 14rem;
		padding-bottom: 10rem;
	}

	.header .swiper-container {
		width: 100%;
	}

	.header .swiper-button-prev {
		left: -32px;
	}

	.header .swiper-button-next {
		right: -32px;
	}

	.header .text-container {
		margin-top: 0.875rem;
	}

	.header .image-container {
		margin-right: 3rem;
	}

	/* end of header */


	/* Registration */
	.form-1 .text-container {
		margin-top: 1.375rem;
		margin-right: 2.25rem;
	}

	.form-1 form {
		margin-left: 2.25rem;
	}

	/* end of registration */


	/* Features */
	.cards-1 .card {
		width: 348px;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}

	/* end of features */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 1.125rem;
	}

	.basic-1 .image-container {
		margin-right: 4rem;
	}

	/* end of details 1 */


	/* Details Lightbox */
	.lightbox-basic .image-container {
		margin-right: 1.5rem;
	}

	/* end of details lightbox */


	/* Details 2 */
	.tabs .nav-tabs {
		margin-top: 1.125rem;
	}

	.tabs .image-container {
		margin-left: 4rem;
	}

	/* end of details 2 */


	/* Testimonials */
	.slider-1 .swiper-container {
		width: 96%;
	}

	.slider-1 .swiper-button-prev {
		left: -26px;
	}

	.slider-1 .swiper-button-next {
		right: -26px;
	}

	/* end of testimonials */


	/* Resources */
	.basic-4 .resource-container {
		width: 536px;
	}

	.basic-4 .resource-container:first-of-type {
		margin-right: 2rem;
	}

	.basic-4 .resource-container img {
		width: 194px;
		margin-right: 0.75rem;
		margin-bottom: 0;
	}

	.basic-4 .resource-container .text-container {
		display: inline-block;
		width: 280px;
		vertical-align: top;
	}

	/* end of resources */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}

	.footer .footer-col.second {
		margin-right: 6.5rem;
	}

	.footer .footer-col.third {
		text-align: right;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	/* end of extra pages */
}

/* end of min-width 1200px */


/*Harsh Karwa*/

/* --------------------------------------------------------------------------- */
/* .objectives{
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-around;
}
.card{
	margin: 0;
} */
.objectives {
	display: flex;
	justify-content: space-between;
}

.card {
	flex: 1;
	margin: 0 10px;
	/* Adjust the margin as needed */
}

/* Aftab Bhadgaonkar */

.para {
	text-align: center;
	color: white;
}

#speakers {
	text-align: left;
}

#spanDetail3 {
	color: red;
	font-weight: bold;
	font-size: 1.5rem;
}


.site-hero {
	background-size: cover;
	background-position: center center;
	min-height: 750px;
	height: 100vh;
}

.site-hero a {
	color: #fff;
	opacity: .5;
}

.site-hero a:hover {
	opacity: 1;
}

.site-hero .post-meta {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.site-hero h1,
.site-hero p {
	color: #fff;
	line-height: 1.5;
}

.site-hero h1 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 30px;
}

.site-hero .lead {
	font-size: 30px;
	color: #fff;
	opacity: .8;
	margin-bottom: 30px;
	font-weight: 300;
}

.site-hero>.container {
	position: relative;
	z-index: 2;
}

.site-hero.overlay {
	position: relative;
}

.site-hero.overlay:before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-hero .site-hero-inner {
	min-height: 750px;
	height: 100vh;
}